#from Urlencode.views import base
#extends base.base

#def title()
    #return 'Urlenco.de - About'
#end def

#def content()
    <p>
        <strong>Urlenco.de</strong> is a small side project of 
        <a href="http://github.com/rtyler">mine</a> that I wrote one day.
    </p>
    <p>
        Originally Urlenco.de was written in classic ASP.NET WebForms, it 
        was almost ported to ASP.NET MVC but now it lives in a mix of 
        <a href="http://eventlet.net">Eventlet</a> and 
        <a href="http://cheetahtemplate.org">Cheetah</a>.
    </p>
    <p>
        You can <a href="http://github.com/rtyler/urlenco.de">fork me</a>
        on GitHub :)
    </p>
#end def
