#from Urlencode.views import base
#extends base.base

#def content()
    <strong>This encoded URL was not found</strong>

    <br/>
    <br/>
    <br/>

    One of two things likely happened:
    <br/>
    <br/>
    <li>Somebody mistyped this Urlencoded URL</li>
    <li>This Urlencoded URL was <strong>deleted</strong> because it contained <strong>spammy</strong> content</li>

#end def
